body {
    background-color: #E6E6FA
}


/* Container holding the image and home cloud */
.container {
    position: relative;
    text-align: center;
    color: white;
  }

  /* Centered text for home cloud */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #595959;
    font-family: "Avenir Next" !important;
    font-weight: 600;
  }

.sectionTitle {
    color: #595959;
    text-align: center;
}

.sectionAbout {
    border-radius: 16px;
    border: 4px solid #ffffff;
    padding: 25px;
}
